{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
      <a class="edit" href="/entry/{{ entry.id - 1 }}/edit"><span class="fa fa-pencil">&nbsp; &nbsp;</span></a>
      <a class="delete" href="/entry/{{ entry.id - 1 }}/delete"><span class="fa fa-trash"></span>&nbsp; &nbsp;</a>
        <ul class="list-unstyled">
            <li>
                {{ entry.datetime | dateformat("%d/%m/%y") }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
          <a href="/entry/{{ entry.id - 1 }}">
            {{ entry.title }}
          </a>
        </h1>
        {{ entry.content | markdown }}
    </div>
</div>
{% endmacro %}
