div.metadata {
    margin-top: 20px;
    font-size: 1.5em;
}

.dropdown {
  margin-top: 20px;
  color: #999999;
}

.confirm {
  font-size: 1.6em;
  text-align: center;
}

.confirm-delete, .confirm-cancel {
  color: #de1348;
  font-family: sans-serif;
}
