div.metadata {
    margin-top: 20px;
    font-size: 1.5em;
}

.dropdown {
  margin-top: 20px;
  color: #999999;
}

.confirm {
  font-size: 1.6em;
  text-align: center;
}

.confirm-delete, .confirm-cancel {
  color: #de1348;
  font-family: sans-serif;
}

/*.navbar-nav {
  margin-top: 18px;
}*/

.login, .logout {
  color: #999999;
  font-size: 1.2em;
  text-decoration: none;
  padding-top: : 10px;
}

.login:hover, .logout:hover {
  color: white;
  text-decoration: none;
}

.add-entry {
  font-size: 1.2em;
  margin-left: 35px;
}
